<h1>Customer List</h1>

<!-- <ul>
    <li *ngFor = "let customer of customers | async">
        {{customer.customerId}}
        {{customer.customerNr}}
        {{customer.customerName}}
        {{customer.books}}
    </li>
</ul> -->

<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <!-- <th scope="col">Books</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let customer of customers | async">
            <td>{{customer.customerId}}</td>
            <td>{{customer.customerNr}}</td>
            <td>{{customer.customerName}}</td>
            <!-- <td>{{customer.books}}</td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container" *ngIf="isLoggedIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card bg-dark my-5">
          <div class="card-body">
            <ul class="text-center list-inline py-3">
              <li class="list-inline-item">
                <a routerLink="/customers" class="btn btn-info">List Customers</a>
                  </li>
              <li class="list-inline-item">
                <a routerLink="/addcustomer" class="btn btn-info">Add Customer</a>
                  </li>
            </ul>
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>