<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #bookForm="ngForm">
        <div class="form-group">
          <label for="bookNr">Book #</label>
          <input type="text" [(ngModel)]="book.bookNr" 
            class="form-control" 
            id="bookNr" 
            name="bookNr" 
            placeholder="Enter the book number"
            required #bookNr="ngModel">
          <div [hidden]="!bookNr.pristine" class="alert alert-danger">Book number is required</div>
        </div>
        <div class="form-group">
          <label for="bookName">Book Name</label>
          <input type="text" [(ngModel)]="book.bookName" 
            class="form-control" 
            id="bookName" 
            name="bookName" 
            placeholder="Enter book name"
            required #bookName="ngModel">
          <div [hidden]="!bookName.pristine" class="alert alert-danger">Book Name is required</div>
        </div>
        <div class="form-group">
            <label for="author">Author</label>
            <input type="text" [(ngModel)]="book.author" 
              class="form-control" 
              id="author" 
              name="author" 
              placeholder="Enter book author"
              required #author="ngModel">
            <div [hidden]="!author.pristine" class="alert alert-danger">Book Author is required</div>
          </div>
          <div class="form-group">
            <label for="genre">Genre</label>
            <input type="text" [(ngModel)]="book.genre" 
              class="form-control" 
              id="genre" 
              name="genre" 
              placeholder="Enter book genre"
              required #genre="ngModel">
            <div [hidden]="!genre.pristine" class="alert alert-danger">Book Genre is required</div>
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <input type="text" [(ngModel)]="book.price" 
              class="form-control" 
              id="price" 
              name="price" 
              placeholder="Enter book price"
              required #price="ngModel">
            <div [hidden]="!price.pristine" class="alert alert-danger">Book Price is required</div>
          </div>
          <div class="form-group">
            <label for="availability">Availability</label>
            <input type="text" [(ngModel)]="book.availability" 
              class="form-control" 
              id="availability" 
              name="availability" 
              placeholder="Enter book availability"
              required #availability="ngModel">
            <div [hidden]="!availability.pristine" class="alert alert-danger">Book Availability is required</div>
          </div>
        <button type="submit" [disabled]="!bookForm.form.valid" 
          class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>