<mat-sidenav-container class="sidenav-container">
  <mat-sidenav 
    #drawer
    class="sidenav"
    fixedInViewport
      [attr.role]="isHandset ? 'dialog' : 'navigation'"
      [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
      [opened]="!(isHandset | async)!.matches">
    <mat-toolbar color="primary" >Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/customers" *ngIf="isLoggedIn">Customers</a>
      <a mat-list-item routerLink="/books">Books</a>
      <!-- <a mat-list-item routerLink="/authors">Authors</a> -->
      <a mat-list-item routerLink="/about">About</a>
      <a mat-list-item routerLink="/chat" *ngIf="isLoggedIn">Chat</a>
      <a mat-list-item routerLink="/contact">Contact</a>
      <!-- <a mat-list-item routerLink="/profile">Profile</a> -->
      <a mat-list-item routerLink="/register" *ngIf="!isLoggedIn">Register</a>
      <a mat-list-item routerLink="/login" *ngIf="!isLoggedIn">Login</a>
      <a mat-list-item routerLink="/profile" *ngIf="isLoggedIn">{{ username }}</a>
      <a href class="nav-link" (click)="logout()" *ngIf="isLoggedIn">LogOut</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(isHandset | async)!.matches">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a href="#" class="navbar-brand">YashLibrary</a>
      <a href="/admin" class="nav-link" routerLink="admin" *ngIf="showAdminBoard" routerLinkActive="active">Admin Board</a>
      <a href="/user" class="nav-link" routerLink="user" *ngIf="isLoggedIn" routerLinkActive="active">User Board</a>

      <span class="spacer"></span>
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/customers" *ngIf="isLoggedIn">Customers</a>
      <a mat-list-item routerLink="/books">Books</a>
      <!-- <a mat-list-item routerLink="/authors">Authors</a> -->
      <a mat-list-item routerLink="/about">About</a>
      <a mat-list-item routerLink="/chat" *ngIf="isLoggedIn">Chat</a>
      <a mat-list-item routerLink="/contact">Contact</a>
      <!-- <a mat-list-item routerLink="/profile">Profile</a> -->
      <a mat-list-item routerLink="/register" *ngIf="!isLoggedIn">Register</a>
      <a mat-list-item routerLink="/login" *ngIf="!isLoggedIn">Login</a>
      <a mat-list-item routerLink="/profile" *ngIf="isLoggedIn">{{ username }}</a>
      <a href class="nav-link" (click)="logout()" *ngIf="isLoggedIn">LogOut</a>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
